@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}
*{
  font-family: Poppins;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
.move{
    margin-left: 120px;
}
.bluehover{
  color:black;
  text-decoration: none;
}
.bluehover:hover{
  color:rgb(0, 129, 129);
  transition: 0.5s;
  text-decoration: none;
}
img {
    border-radius: 50%;
}
.newpadding{
    padding-left: 20px;
}
.container {
    display: flex;
    align-items: center;
    margin-left: 160px;
    margin-top:100px;
    justify-content:center;
}
.containerfooter {
    display: flex;
    align-items: center;
    margin-top:100px;
    justify-content:center;
}
.containerprefooter {
  display: flex;
  align-items: center;
  margin-top:100px;
  justify-content:center;

}
.text {
    font-size: 15px;
    padding-left: 10px;
    margin-left: 30px;
}
.social a {
  font-size:2.5em;
  padding:1rem;
}
.fa-facebook{
  color:#3b5998;
}
.fa-twitter{
  color:#00aced;
}
.fa-instagram{
  color:#833AB4;
}
.fa-whatsapp{
  color:#4fce5d;
}
.fa-youtube{
  color:#bb0000;
}
.fa-linkedin:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-whatsapp:hover,
.fa-youtube:hover{
  color:#d5d5d5;
}
.backcolor {
  background-color: rgb(243, 243, 243);
  background: url(img/vid1.mp4);
}

.prev_footer{
  font-size: 15px;
}
footer{
  background-color: #FFFFFF;
  color:#303030;
  width:100%;
}
.footerele{
  margin-left: 00px;
  font-size: 15px;
}
.genric-btn.primary-border:hover {
  color: #ffffff;
  border: 1px solid #03242D;
  background: #03242D;
  margin-left: 15px;
  margin-right: 20px;
  margin-top:3px;
}
.genric-btn.primary-border {
  color: #03242D;
  border: 1px solid #03242D;
  background: #fff;
  margin-left: 15px;
  margin-right: 20px;
  margin-top:3px;
}

.genric-btn.circle {
  border-radius: 60px;
}
.smallfont{
  font-size: 12px
}